!files/.gitignore
files/pack/*
!files/pack/.gitignore
files/manga/*
!files/manga/.gitignore

!images/.gitignore
images/art/*
!images/art/.gitignore

cache/*
!cache/.gitignore
!cache/tmp
cache/tmp/*
!cache/tmp/.gitignore

define.ini
