!files/.gitignore
files/pack/*
!files/pack/.gitignore
files/manga/*
!files/manga/.gitignore

!images/.gitignore
images/hash
images/.htaccess
images/static.php
images/art/*
!images/art/.gitignore

cache/*
!cache/.gitignore
!cache/tmp
cache/tmp/*
!cache/tmp/.gitignore

.idea/
define.ini
