AddDefaultCharset UTF-8

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule . /boot/init.php [NE,L]
</IfModule>

# Nginx config version
#	location / {
#		if (!-f $request_filename) {
#			rewrite ^.*$ /boot/init.php last;
#		}
#	}
